.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-inner {
	display: flex;
	transition: transform 0.4s ease-in-out;
}

.carousel-inner img {
	width: 100%;
	height: auto;
}

.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

.carousel-control-icon {
	display: inline-block;
}

.carousel-control.prev {
	left: 10px;
	width:40px;

}

.carousel-control.next {
	right: 10px;
	width:40px;
	
}